<p>Welcome to the <b>USCIS 100 Quesitons Civics test!</b></p>
<p>The purpose for this website is to help you study for the <b>Civics Test</b> required as part of the naturalization process.<br/>
<a href="https://www.uscis.gov/sites/default/files/USCIS/Office%20of%20Citizenship/Citizenship%20Resource%20Center%20Site/Publications/100q.pdf" target="_blank">Questions</a> taken from the <a href="https://www.uscis.gov/citizenship/educators/naturalization-information" target="_blank">USCIS Naturalization Information</a>
</p>
<p>
For some state specific questions, the answers are based on the state of Arizona for 2019.
</p>
<b>Rules for the test</b>
<ul>
  <li>There are 100 civics questions on the naturalization test.</li>
  <li>During an applicant's naturalization interview, he or she will be asked up to 10 questions from the list of 100 questions.</li>
  <li>An applicant must answer correctly six of the 10 questions to pass the civics test.</li>
</ul>
Good luck with the test!<br/>
<img height="36px" alt="thumbs up!" src="assets/thumbsup.png"/>
