
<h3>Oath of Allegiance to the United States of America</h3>
<h4>Oath</h4>

<div style="font-style: italic;">
  "I hereby declare, on oath, that I absolutely and entirely renounce and abjure all allegiance and fidelity to any foreign prince, potentate, state, or sovereignty, of whom or which I have heretofore been a subject or citizen; that I will support and defend the Constitution and laws of the United States of America against all enemies, foreign and domestic; that I will bear true faith and allegiance to the same; that I will bear arms on behalf of the United States when required by the law; that I will perform noncombatant service in the Armed Forces of the United States when required by the law; that I will perform work of national importance under civilian direction when required by the law; and that I take this obligation freely, without any mental reservation or purpose of evasion; so help me God."
</div>

<br/>
<br/>
The principles embodied in the Oath are codified in Section 337(a) in the Immigration and Nationality Act (INA), which provides that all applicants shall take an oath that incorporates the substance of the following:
<br/>
<br/>
<ul>
  <li>Support the Constitution<br/><br/></li>
  <li>Renounce and abjure absolutely and entirely all allegiance and fidelity to any foreign prince, potentate, state, or sovereignty of whom or which the applicant was before a subject or citizen<br/><br/></li>
  <li>Support and defend the Constitution and laws of the United States against all enemies, foreign and domestic<br/><br/></li>
  <li>Bear true faith and allegiance to the same<br/><br/></li>
  <li>
    A. Bear arms on behalf of the United States when required by the law; or<br/>
    B. Perform noncombatant service in the Armed Forces of the United States when required by the law; or<br/>
    C. Perform work of national importance under civilian direction when required by the law.
  </li>
</ul>
