/* You can add global styles to this file, and also import other style files */
/* You can add global styles to this file, and also import other style files */

body {
  padding-top: 5px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;

  margin: 0 auto;
  text-align: left;
  width: 900px;

	/* background-image: url("assets/images/background.jpg");
	background-repeat: no-repeat;
	background-color: #000000;
  background-attachment: fixed; */
}
